{% extends "layout.html" %}

{% block body %}
    <div class = "jumbotron text-center">
        <h3> Welcome to the cemBLOG! </h3>
        <p> In cemBLOG, you will have fun. </p>
    </div>


    {% if islem ==1  %}
        <p> First Operation</p>
    {% elif islem ==2  %}
        <p> Second Operation</p>
    {% else %}
        <p> Invalid Operation </p>
    {% endif %}

    <ul>
        {% for n in numbers  %}
            <li> {{n}} </li> 
        {% endfor %}

    </ul>

     <ul>
        {% for n in articles  %}
            <li> Article Id: {{n.Id}} - Title: {{n.Title}}- Title: {{n.content}} </li> 
        {% endfor %}

    </ul>
{% endblock body %}