<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="/">cemBLOG</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto"> <!-- mr auto saga yaslar mlauto sola-->
          <li class="nav-item active">
            <a class="nav-link" href="/about">About Me <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="/articles">Articles <span class="sr-only">(current)</span></a>
          </li>
        </ul>

        <ul class="navbar-nav ml-auto"> <!-- mr auto saga yaslar mlauto sola-->
          
          {% if session["logged_in"] %}
            <li class="nav-item active">
              <a class="nav-link" href="/dashboard">Control Panel <span class="sr-only">(current)</span></a>
             </li>

            <li class="nav-item active">
              <a class="nav-link" href="/logout">Log Out <span class="sr-only">(current)</span></a>
             </li>
          
          {% else %}
             <li class="nav-item active">
                <a class="nav-link" href="/login">Log In <span class="sr-only">(current)</span></a>
              </li>
          {% endif %}
        
          <li class="nav-item active">
            <a class="nav-link" href="/register">Register <span class="sr-only">(current)</span></a>
          </li>
        </ul>

      </div>
    </nav>
</body>
</html>